.imagePreview {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .labelTable {
    margin-top: 20px;
  }
  
  .searchResults {
    margin-top: 20px;
  }
  
  .searchResults img {
    max-width: 200px;
    margin-bottom: 10px;
  }
  